{% extends "base.html" %}

{% load static %}

{% block title%}{% endblock %}

{% block banner_container %}{% endblock %}


{% block container %}
    <div class="uk-child-width-1-4@s uk-child-width-1-1@m uk-margin-top">
        <div>
            <div class="uk-card uk-flex uk-flex-center uk-flex-middle">
                <h3 class="uk-heading">DEPARTAMENTO TIPO A</h3>  
            </div>
        </div>

        <div>
            <div class="uk-card uk-flex uk-flex-center uk-flex-middle">

                <div class="uk-position-relative" uk-slider="autoplay: true;center: true;">
                    <ul class="uk-slider-items uk-grid">
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento1_foto1.png' %}" alt=""> </a>
                            
                        </li>
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento1_foto2.png' %}" alt=""> </a>
                            
                        </li>
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento1_foto3.png' %}" alt=""> </a>
                            
                        </li>
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento1_foto4.png' %}" alt=""> </a>
                            
                        </li>
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento1_foto5.png' %}" alt=""> </a>
                            
                        </li>
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento1_foto6.png' %}" alt=""> </a>
                            
                        </li>
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento1_foto7.png' %}" alt=""> </a>
                            
                        </li>
                    </ul>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin">
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-flex uk-flex-center uk-flex-middle">
                <div class="uk-card uk-child-width-1-2@s uk-margin-large" style="margin-left: 60px;margin-right: 60px;margin-bottom: 40px;" uk-grid>
                    
                   <div class="uk-card-media-left uk-cover-container">
                        <img id="apt1img" src="{% static 'img/apartments/deptA_1plano.jpg' %}" alt="" style="width: 540px;height: 515px;">

                    </div>
                    
                    <div class="">
                        <div class="uk-card-body">
                            <h3 class="uk-heading uk-text-right">Departamento de 182 m2 con espectacular vista al lago</h3>
                            <hr class="uk-border-top-title">
                            <div class="uk-child-width-1-7@s uk-child-width-1-1@m">
                                <div>
                                    <div id="apt1opc1" class="uk-card uk-flex uk-flex-right uk-flex-middle">
                                        <p class="uk-description uk-margin-right">Sala y comedor</p>
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono1_salacomedor.jpg' %}">
                                    </div>
                                    <hr class="uk-border-bottom-description">
                                </div>
                                <div>
                                    <div id="apt1opc2" class="uk-card uk-flex uk-flex-right uk-flex-middle">
                                        <p class="uk-description uk-margin-right">Cocina, lavandería y dormitorio de servicio</p>
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono2_cocinalavanderia.jpg' %}">
                                    </div>
                                     <hr class="uk-border-bottom-description">
                                </div>
                                <div>
                                    <div id="apt1opc3" class="uk-card uk-flex uk-flex-right uk-flex-middle">
                                        <p class="uk-description uk-margin-right">Sala de estar      </p>
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono3_saladeestar.jpg' %}">
                                    </div>
                                     <hr class="uk-border-bottom-description">
                                </div>
                                <div>
                                    <div id="apt1opc5" class="uk-card uk-flex uk-flex-right uk-flex-middle">
                                        <p class="uk-description uk-margin-right">Dormitorio en master con walk in closet</p>
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono5_dormitoriomaster.jpg' %}">
                                    </div>
                                     <hr class="uk-border-bottom-description">
                                </div>
                                <div>
                                    <div id="apt1opc4" class="uk-card uk-flex uk-flex-right uk-flex-middle">
                                        <p class="uk-description uk-margin-right">2 dormitorios secundarios</p>
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono4_dormitorios.jpg' %}">
                                    </div>
                                     <hr class="uk-border-bottom-description">
                                </div>
                                <div>
                                    <div id="apt1opc6" class="uk-card uk-flex uk-flex-right uk-flex-middle">
                                        <p class="uk-description uk-margin-right">4 baños (incluyendo el master y de servicio)</p>
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono6_banios.jpg' %}">
                                    </div>
                                     <hr class="uk-border-bottom-description">
                                </div>
                                <div>
                                    <div id="apt1opc7" class="uk-card uk-flex uk-flex-right uk-flex-middle">
                                        <p class="uk-description uk-margin-right">1 medio baño</p>
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono7_mediobanio.jpg' %}">
                                    </div>
                                     <hr class="uk-border-bottom-description">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr class="uk-border-bottom-description uk-margin-medium-bottom">

    </div>

    

    <div class="uk-child-width-1-3@s uk-child-width-1-1@m uk-margin-top">
        <div>
            <div class="uk-card uk-flex uk-flex-center uk-flex-middle">
                <h3 class="uk-heading">DEPARTAMENTO TIPO B</h3>  
            </div>
        </div>

        <div>
            <div class="uk-card uk-flex uk-flex-center uk-flex-middle">

                <div class="uk-position-relative uk-visible-toggle" uk-slider="autoplay: true;center: true;">
                    <ul class="uk-slider-items uk-grid">
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento2_foto1.png' %}" alt=""> </a>
                            
                        </li>
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento2_foto2.png' %}" alt=""> </a>
                            
                        </li>
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento2_foto3.png' %}" alt=""> </a>
                            
                        </li>
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento2_foto4.png' %}" alt=""> </a>
                            
                        </li>
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento2_foto5.png' %}" alt=""> </a>
                            
                        </li>
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento2_foto6.png' %}" alt=""> </a>
                            
                        </li>
                        <li class="uk-width-3-5">
                            
                            <a href="#"> <img src="{% static 'img/apartments/departamento2_foto7.png' %}" alt=""> </a>
                            
                        </li>
                    </ul>
                    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

                    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin">
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <div class="uk-card uk-flex uk-flex-center uk-flex-middle">
                <div class="uk-card uk-child-width-1-2@s uk-margin-large" style="margin-left: 60px;margin-right: 60px;margin-bottom: 40px;" uk-grid>
                    
                   <div class="uk-card-media-left uk-cover-container uk-padding-remove">
                        
                        <div class="uk-card-body">
                            <h3 class="uk-heading uk-text-left">Departamento de 187 m2 con espectacular vista al lago</h3>
                            <hr class="uk-border-top-title">
                            <div class="uk-child-width-1-7@s uk-child-width-1-1@m">
                                <div>
                                    <div id="apt2opc1" class="uk-card uk-flex uk-flex-left uk-flex-middle">
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono1_salacomedor.jpg' %}">
                                        <p class="uk-description uk-margin-left">Sala y comedor</p>
                                    </div>
                                    <hr class="uk-border-bottom-description">
                                </div>
                                <div>
                                    <div id="apt2opc2" class="uk-card uk-flex uk-flex-left uk-flex-middle">
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono2_cocinalavanderia.jpg' %}">
                                        <p class="uk-description uk-margin-left">Cocina, lavandería y dormitorio de servicio</p>
                                    </div>
                                     <hr class="uk-border-bottom-description">
                                </div>
                                <div>
                                    <div id="apt2opc3" class="uk-card uk-flex uk-flex-left uk-flex-middle">
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono3_saladeestar.jpg' %}">
                                        <p class="uk-description uk-margin-left">Sala de estar      </p>
                                    </div>
                                     <hr class="uk-border-bottom-description">
                                </div>
                                <div>
                                    <div id="apt2opc5" class="uk-card uk-flex uk-flex-left uk-flex-middle">
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono5_dormitoriomaster.jpg' %}">
                                        <p class="uk-description uk-margin-left">Dormitorio en master con walk in closet</p>
                                    </div>
                                     <hr class="uk-border-bottom-description">
                                </div>
                                <div>
                                    <div id="apt2opc4" class="uk-card uk-flex uk-flex-left uk-flex-middle">
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono4_dormitorios.jpg' %}">
                                        <p class="uk-description uk-margin-left">2 dormitorios secundarios</p>
                                    </div>
                                     <hr class="uk-border-bottom-description">
                                </div>
                                <div>
                                    <div id="apt2opc6" class="uk-card uk-flex uk-flex-left uk-flex-middle">
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono6_banios.jpg' %}">
                                        <p class="uk-description uk-margin-left">4 baños (incluyendo el master y de servicio)</p>
                                    </div>
                                     <hr class="uk-border-bottom-description">
                                </div>
                                <div>
                                    <div id="apt2opc7" class="uk-card uk-flex uk-flex-left uk-flex-middle">
                                        <img width="50" height="50" src="{% static 'img/apartments/icons/apartment1/icono7_mediobanio.jpg' %}">
                                        <p class="uk-description uk-margin-left">1 medio baño</p>
                                    </div>
                                     <hr class="uk-border-bottom-description">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="">
                        <img id="apt2img" src="{% static 'img/apartments/departamento1_plano.jpg' %}" alt="" style="width: 540px;height: 515px;">
                        

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background: #D8D8D8;" >
        {% include "requireinfo.html" with submit_value="Solicitar información" attr="" form_classes="uk-form-stacked" show_help_texts_in_hidden="True" %}
    </div>

<script>
    $( "#apt1opc1" ).mouseover(function() {
        $( "#apt1img" ).attr('src',"{% static 'img/apartments/deptA_2salacomedor.jpg' %}"); 
    });

    $( "#apt1opc1" ).mouseout(function() {
        $( "#apt1img" ).attr('src',"{% static 'img/apartments/deptA_1plano.jpg' %}"); 
    });

    $( "#apt1opc2" ).mouseover(function() {
        $( "#apt1img" ).attr('src',"{% static 'img/apartments/deptA_3cocina.jpg' %}"); 
    });

    $( "#apt1opc2" ).mouseout(function() {
        $( "#apt1img" ).attr('src',"{% static 'img/apartments/deptA_1plano.jpg' %}"); 
    });

    $( "#apt1opc3" ).mouseover(function() {
        $( "#apt1img" ).attr('src',"{% static 'img/apartments/deptA_4saladeestar.jpg' %}"); 
    });

    $( "#apt1opc3" ).mouseout(function() {
        $( "#apt1img" ).attr('src',"{% static 'img/apartments/deptA_1plano.jpg' %}"); 
    });

    $( "#apt1opc5" ).mouseover(function() {
        $( "#apt1img" ).attr('src',"{% static 'img/apartments/deptA_5dormitorio.jpg' %}"); 
    });

    $( "#apt1opc5" ).mouseout(function() {
        $( "#apt1img" ).attr('src',"{% static 'img/apartments/deptA_1plano.jpg' %}"); 
    });

    $( "#apt1opc6" ).mouseover(function() {
        $( "#apt1img" ).attr('src',"{% static 'img/apartments/deptA_6banos.jpg' %}"); 
    });

    $( "#apt1opc6" ).mouseout(function() {
        $( "#apt1img" ).attr('src',"{% static 'img/apartments/deptA_1plano.jpg' %}"); 
    });




    $( "#apt2opc1" ).mouseover(function() {
        $( "#apt2img" ).attr('src',"{% static 'img/apartments/deptB_2salacomedor.jpg' %}"); 
    });

    $( "#apt2opc1" ).mouseout(function() {
        $( "#apt2img" ).attr('src',"{% static 'img/apartments/deptB_1plano.jpg' %}"); 
    });

    $( "#apt2opc2" ).mouseover(function() {
        $( "#apt2img" ).attr('src',"{% static 'img/apartments/deptB_3cocina.jpg' %}"); 
    });

    $( "#apt2opc2" ).mouseout(function() {
        $( "#apt2img" ).attr('src',"{% static 'img/apartments/deptB_1plano.jpg' %}"); 
    });

    $( "#apt2opc3" ).mouseover(function() {
        $( "#apt2img" ).attr('src',"{% static 'img/apartments/deptB_4saladeestar.jpg' %}"); 
    });

    $( "#apt2opc3" ).mouseout(function() {
        $( "#apt2img" ).attr('src',"{% static 'img/apartments/deptB_1plano.jpg' %}"); 
    });

    $( "#apt2opc5" ).mouseover(function() {
        $( "#apt2img" ).attr('src',"{% static 'img/apartments/deptB_5dormitorio.jpg' %}"); 
    });

    $( "#apt2opc5" ).mouseout(function() {
        $( "#apt2img" ).attr('src',"{% static 'img/apartments/deptB_1plano.jpg' %}"); 
    });

    $( "#apt2opc6" ).mouseover(function() {
        $( "#apt2img" ).attr('src',"{% static 'img/apartments/deptB_6banos.jpg' %}"); 
    });

    $( "#apt2opc6" ).mouseout(function() {
        $( "#apt2img" ).attr('src',"{% static 'img/apartments/deptB_1plano.jpg' %}"); 
    });
</script>



{% endblock %}


