{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Sr.Blankenbaker">
    <meta name="application-name" content="&nbsp;"/>

    <title>Torres300{% if title %} - {{ title }}{% endif %}</title>

    <meta property="og:title" content="Torres3000"/>
    <meta property="og:type" content="website"/>

    <meta property="og:url" content="https://torres30002.com.ec/"/>
    <meta property="og:site_name" content="Torres30002.com.ec"/>
    <meta property="og:description" content=""/>

    <!-- CSS -->
    <link href="{% static 'uikit/css/uikit.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet" />
    
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    
    {% block extra_head_css %}
    {% endblock %}

    <!-- JS -->
    <script src="{% static 'uikit/js/uikit.min.js' %}"></script>
    <script src="{% static 'uikit/js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <!--<script src="{% static 'js/functions.js' %}"></script>-->


     <!-- Scripts JS -->
    {% block extra_head_scripts %}
    {% endblock %}

</head>
<body>
    {% include "navbar.html" %}

    {% block title%}
        <div class="uk-section uk-section-muted uk-section-small">
            <div class="uk-container">
                <h4 class="uk-heading-line">{{title}}</h4>
            </div>
        </div>
    {% endblock %}

    {% block banner_container %}
    {% endblock %}

    {% block container %}
    {% endblock %}

    {% if messages %}
        {% for message in messages %}
            <script>
            {% for message in messages %}
                UIkit.notification({message: '{{ message }}', status: '{{ message.tags }}'});

            {% endfor %}
            </script>
        {% endfor %}
    {% endif %}

    {% block footer %}
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <div class="uk-navbar-container">
            <div class="uk-container">
 
                <nav class="uk-navbar-container uk-margin uk-navbar">
                    <div class="uk-navbar-left" style="margin: 0 0 0 10px;">
                        <div>
                            <ul class="uk-navbar-nav">
                                <li><a href="https://www.facebook.com/torres3000ec/" target="_blank" style="padding: 0;"><span class="uk-icon-button uk-margin-small-right" uk-icon="icon: facebook"></span></a></li>
                                <li><a href="https://www.instagram.com/torres3000ec/" target="_blank" style="padding: 0;"><span class="uk-icon-button uk-margin-small-right" uk-icon="icon: instagram"></span></a></li> 
                            </ul>
                        </div>
                    </div>

                    <div class="uk-navbar-right">
                        <div>
                            <ul class="uk-navbar-nav">
                                <li class="uk-width-1"><a href="http://www.mmgtrust.com.ec/" target="_blank" class="uk-navbar-item uk-logo">
                    <img src="{% static 'img/logofootermmg.png' %}" class="uk-square-background-logo-mmg" alt="Torres3000">
                </a></li>
                                <li class="uk-width-1"><a href="http://www.probaquerizo.com/" target="_blank" class="uk-navbar-item uk-logo">
                    <img src="{% static 'img/logofooterprobaquerizo.png' %}" class="uk-square-background-logo-mmg" alt="Torres3000">
                </a></li>
                            </ul>
                        </div>
                    </div>

                </nav>
        </div></div></div>
    {% endblock %}

</body>

</html>