{% extends "base.html" %}

{% load static %}
{% block title%}{% endblock %}

{% block container %}

    <div class="uk-card uk-child-width-1-2@s uk-margin-large" style="margin-left: 60px;margin-right: 60px;" uk-grid>
        <div class="uk-card-media-left uk-cover-container" style="padding-left: 0px;">
            <!--<img src="{% static 'img/fotoconstructora.jpg' %}" alt="" uk-cover>
            <canvas width="600" height="600"></canvas>-->
            <div>
        <div class="uk-position-relative uk-visible-toggle" uk-slider="autoplay: true;">
            <ul class="uk-slider-items uk-grid">
                <li class="uk-width-1">
                    <a href="{% url 'cotiza' %}"> <img src="{% static 'img/constructora/fotoconstructora1.jpg' %}" alt=""> </a>
                </li>
                <li class="uk-width-1">
                    <a href="{% url 'cotiza' %}"> <img src="{% static 'img/constructora/fotoconstructora2.jpg' %}" alt=""> </a>
                </li>
                <li class="uk-width-1">
                    <a href="{% url 'cotiza' %}"> <img src="{% static 'img/constructora/fotoconstructora3.jpg' %}" alt=""> </a>
                </li>
                <li class="uk-width-1">
                    <a href="{% url 'cotiza' %}"> <img src="{% static 'img/constructora/fotoconstructora4.jpg' %}" alt=""> </a>
                </li>
                <li class="uk-width-1">
                    <a href="{% url 'cotiza' %}"> <img src="{% static 'img/constructora/fotoconstructora5.jpg' %}" alt=""> </a>
                </li>
                <li class="uk-width-1">
                    <a href="{% url 'cotiza' %}"> <img src="{% static 'img/constructora/fotoconstructora6.jpg' %}" alt=""> </a>
                </li>
            </ul>

            <div class="uk-position-bottom uk-overlay uk-text-center">

            <ul class="uk-slider-nav uk-dotnav uk-flex-center">
            </ul>
            </div>
        </div>
        
    </div>
        </div>
        <div class="uk-padding-remove">
            <div class="uk-card-body uk-padding-remove">
                <div class="uk-div-constructora-head"> <b>CONBAQUERIZO</b> es una compañía constructora, desarrolladora inmobiliaria y de ingenierías con más de 41 años en el mercado. <i>Construye todo tipo de obras civiles a nivel nacional.</i></div>
                
 

                <hr class="uk-border-top-title">
                <p class="uk-description uk-padding-left"><i>Ofreciendo interesantes oportunidades de inversión. </i>.</p>
				<br>
				<p class="uk-description uk-padding-left"><strong>NUESTRA MISIÓN:</strong></p>
                <p class="uk-description uk-padding-left"><i>Conbaquerizo</i>  es una empresa Constructora que brinda servicio y asesoría personalizada tanto a nuestros clientes, como a los que han depositado su confianza en repetidas ocasiones identificándose con nuestras fortalezas como la honestidad, el buen nombre,  la excelente calidad y servicio al cliente, precios competitivos, la entrega a tiempo de las obras, uso de la más avanzada tecnología y gran capacidad de gestión.</p>
				<br>
				<p class="uk-description uk-padding-left"><strong>NUESTRA VISIÓN:</strong></p>
                <p class="uk-description uk-padding-left">Proporcionar a nuestros clientes comodidad, satisfacción, seguridad, y una mejor forma de vida mediante una buena realización de nuestros proyectos, convirtiéndonos en la constructora de confianza de nuestros clientes a través de la buena práctica y la honestidad.</p>
            </div>
        </div>
    </div>

    
{% endblock %}


