{% extends "base.html" %}

{% load static %}
{% block title%}{% endblock %}
{% block banner_container %} {% endblock %}

{% block container %}

<div class="uk-card uk-child-width-1-2@s uk-margin-remove" style="background: #D8D8D8;" uk-grid >
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.1399764021644!2d-79.86258646474667!3d-2.0995128705394195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMsKwMDUnNTguMyJTIDc5wrA1MSc0MC43Ilc!5e0!3m2!1ses!2sec!4v1533560821118" width="600" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
             </div>
        </div>
        <div class="uk-margin-top">
            <div class="uk-card-body uk-padding-remove-bottom uk-padding uk-width-2-2@s">
                <h3 class="uk-heading uk-text-left">CONTÁCTENOS</h3>
                <hr class="uk-border-top-title">
                <p class="uk-description uk-text-left uk-margin-medium-top uk-margin-small-bottom"><span class="uk-margin-small-right uk-icon" uk-icon="icon: location"></span>Puerto Mocolí 3000</p>

                <p class="uk-description uk-text-left uk-margin-small-bottom"><span class="uk-margin-small-right uk-icon" uk-icon="icon: receiver"></span>+593 99 104 3001</p>

                <p class="uk-description uk-text-left uk-margin-small-bottom"><span class="uk-margin-small-right uk-icon" uk-icon="icon: mail"></span><a href="mailto:info@torres3000.com.ec">info@torres3000.com.ec</a></p>

                <img data-src="{% static 'img/contacto_foto.png' %}" class="uk-margin-medium-top " width="1800" height="1200" alt="" uk-img>
                

                <!--<p class="uk-description uk-text-center"><strong>Dirección de obra:</strong> Km. 6.5 vía a Samborondón, Isla Mocolí, Puerto Mocolí 3000</p>
                <p class="uk-description uk-text-center"><strong>Teléfono:</strong> +593 99 104 3001</p>
                <p class="uk-description uk-text-center"><strong>Email:</strong> <a href="mailto:info@torres3000.com.ec">info@torres3000.com.ec</a></p>-->
            </div>
        </div>
    </div>
    
    
{% endblock %}