{% extends "base.html" %}

{% load static %}
{% block title%}{% endblock %}
{% block banner_container %} {% endblock %}



{% block container %}

        <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url({% static 'img/fondocotiza.jpg' %}); height: 100%;">
            <p class="uk-h4">
			{% include "requireinfo.html" with submit_value="Solicitar información" attr="" form_classes="uk-form-stacked" show_help_texts_in_hidden="True" %}
			</p>
        </div>


{% endblock %}


