{% extends "base.html" %}

{% load static %}
{% block title%}{% endblock %}
{% block banner_container %}
    <div>
        <div class="uk-position-relative uk-visible-toggle" uk-slider="autoplay: true;">
            <ul class="uk-slider-items uk-grid">
                <li class="uk-width-1">
                    <a href="{% url 'cotiza' %}"> <img src="{% static 'img/home/banner1.jpg' %}" alt=""> </a>
                </li>
                <li class="uk-width-1">
                    <a href="{% url 'cotiza' %}"> <img src="{% static 'img/home/banner2.jpg' %}" alt=""> </a>
                </li>
                <li class="uk-width-1">
                    <a href="{% url 'cotiza' %}"> <img src="{% static 'img/home/banner3.jpg' %}" alt=""> </a>
                </li>
                 <li class="uk-width-1">
                    <a href="{% url 'cotiza' %}"> <img src="{% static 'img/home/banner4.jpg' %}" alt=""> </a>
                </li>
            </ul>

            <div class="uk-position-bottom uk-overlay uk-text-center">

            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin">
            </ul>
            </div>
        </div>
        
    </div>

{% endblock %}



{% block container %}

    <div style="background: #D8D8D8;" >
    {% include "requireinfo.html" with submit_value="Solicitar información" attr="" form_classes="uk-form-stacked" show_help_texts_in_hidden="True" %}
    </div>


    <div class="uk-card uk-child-width-1-2@s uk-margin-large" style="margin-left: 60px;margin-right: 60px;" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="{% static 'img/home_fotodinterior.png' %}" alt="" uk-cover>
            <canvas width="600" height="600"></canvas>
        </div>
        <div class="uk-padding-remove">
            <div class="uk-card-body uk-padding-remove">
                <h3 class="uk-heading">TORRES 3000, PROYECTO INMOBILIARIO DE PROBAQUERIZO</h3>
                <hr class="uk-border-top-title">
                <p class="uk-description uk-padding-left">El proyecto cuenta con <strong>24 departamentos</strong>, divididos en 3 torres. Cada torre cuenta con 4 pisos, cada uno con 2 departamentos con espectacular vista al lago. <strong>Nuestro objetivo principal</strong> es brindar a los propietarios una vida cómoda, gracias a nuestra excelente distribución de espacios y enfoque de mejora continua para la experiencia de sus residentes.</p>
				<br>
				<p class="uk-description uk-padding-left"><strong>Probaquerizo</strong> es una empresa promotora inmobiliaria del grupo Conbaquerizo. Durante su historia, ha desarrollado grandes proyectos como Parque Magno, Jardines Parque Magno, Arboletta, Ecocity, etc. <strong>Su misión</strong> es desarrollar proyectos confortables, eco-amigables y orientados a la interacción con la naturaleza, siempre buscando brindar más beneficios a sus clientes y obteniendo un mejor costo para los inversionistas. </p>
				<br>
				<p class="uk-description uk-padding-left"><strong>Probaquerizo</strong> busca contribuir con proyectos que ayuden al desarrollo que la comunidad necesita en ámbitos de vivienda, comercio, negocios y más.</p>
            </div>
        </div>
    </div>

    <div class="uk-card uk-child-width-1-2@s uk-margin-large-top " style="background: #D8D8D8;" uk-grid >
        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
            <div class="map-responsive">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.1399764021644!2d-79.86258646474667!3d-2.0995128705394195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMsKwMDUnNTguMyJTIDc5wrA1MSc0MC43Ilc!5e0!3m2!1ses!2sec!4v1533560821118" width="600" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
             </div>
        </div>
        <div class="uk-margin-top">
            <div class="uk-card-body uk-padding-remove-bottom uk-padding uk-width-2-2@s">
                <h3 class="uk-heading uk-text-left">CONTÁCTENOS</h3>
                <hr class="uk-border-top-title">
                <p class="uk-description uk-text-left uk-margin-medium-top uk-margin-small-bottom"><span class="uk-margin-small-right uk-icon" uk-icon="icon: location"></span>Puerto Mocolí 3000</p>

                <p class="uk-description uk-text-left uk-margin-small-bottom"><span class="uk-margin-small-right uk-icon" uk-icon="icon: receiver"></span>+593 99 104 3001</p>

                <p class="uk-description uk-text-left uk-margin-small-bottom"><span class="uk-margin-small-right uk-icon" uk-icon="icon: mail"></span><a href="mailto:info@torres3000.com.ec">info@torres3000.com.ec</a></p>

                <img data-src="{% static 'img/contacto_foto.png' %}" class="uk-margin-medium-top" width="1800" height="1200" alt="" uk-img>
                

                <!--<p class="uk-description uk-text-center"><strong>Dirección de obra:</strong> Km. 6.5 vía a Samborondón, Isla Mocolí, Puerto Mocolí 3000</p>
				<p class="uk-description uk-text-center"><strong>Teléfono:</strong> +593 99 104 3001</p>
				<p class="uk-description uk-text-center"><strong>Email:</strong> <a href="mailto:info@torres3000.com.ec">info@torres3000.com.ec</a></p>-->
            </div>
        </div>
    </div>
    
{% endblock %}


