{% load static %}

<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
<div class="uk-navbar-container">
    <div class="uk-container">
       
        <nav class="uk-navbar-container uk-margin uk-navbar">
            <div class="uk-navbar-center">
            
                <div class="uk-navbar-center-left uk-nav-menu-banner">
                    <div>
                    <ul class="uk-navbar-nav">
                        <li class="uk-parent ad_navtext_toggle"><a href="{% url 'apartments' %}">DEPARTAMENTOS</a></li>
                        <li class="uk-parent ad_navtext_toggle"><a href="{% url 'constructora' %}">CONSTRUCTORA</a></li>
                    </ul>
                    </div>
                </div>
                
                <a href="{% url 'index' %}" class="uk-navbar-item uk-logo uk-nav-logo-center">
                    <img src="{% static 'img/logo.png' %}" class="uk-responsive-height" alt="Torres3000" style="max-height:150%;">
                </a>

                <div class="uk-navbar-center-right uk-nav-menu-banner">
                    <div>
                        <ul class="uk-navbar-nav">
                            <li class="uk-parent ad_navtext_toggle"><a href="{% url 'promotora' %}">PROMOTORA</a></li>
                            <li class="uk-parent ad_navtext_toggle"><a href="{% url 'cotiza' %}">COTIZA</a></li>
                            <li class="uk-parent ad_navtext_toggle"><a href="{% url 'contact' %}">CONTACTO</a></li>
                        </ul>
                    </div>
                </div>
            </div>

                
            <div class="uk-navbar-left uk-nav-menu-right">
                    <ul class="uk-navbar-nav">
                        <li class="ad_navicon_toggle"><a href="" uk-icon="icon: menu"></a></li>
                        <div uk-dropdown>
                            <ul class="uk-nav uk-dropdown-nav">
                                <li class="uk-nav-header"><a href="{% url 'apartments' %}">DEPARTAMENTOS</a></li>
                                <li class="uk-nav-divider"></li>
                                <li class="uk-nav-header"><a href="{% url 'constructora' %}">CONSTRUCTORA</a></li>
                                <li class="uk-nav-divider"></li>
                                <li class="uk-nav-header"><a href="{% url 'promotora' %}">PROMOTORA</a></li>
                                <li class="uk-nav-divider"></li>
                                <li class="uk-nav-header"><a href="{% url 'cotiza' %}">COTIZA</a></li>
                                <li class="uk-nav-divider"></li>
                                <li class="uk-nav-header"><a href="{% url 'contact' %}">CONTACTO</a></li>
                                <li class="uk-nav-divider"></li>
                            </ul>
                        </div>
                    </ul>
            </div>
               
            <div class="uk-navbar-right">
                <div class="uk-nav-logo-right">
                <a href="{% url 'index' %}" class="uk-navbar-item">
                <img src="{% static 'img/logo.png' %}" class="uk-responsive-height" alt="Torres3000">
                </a>
                </div>

                <div class="uk-nav-menu-right-social">
                    <ul class="uk-navbar-nav">
                        <li><a href="https://www.facebook.com/torres3000ec/" target="_blank" style="padding: 0;"><span class="uk-icon-button uk-margin-small-right" uk-icon="icon: facebook"></span></a></li>
                        <li><a href="https://www.instagram.com/torres3000ec/" target="_blank" style="padding: 0;"><span class="uk-icon-button uk-margin-small-right" uk-icon="icon: instagram"></span></a></li> 
                    </ul>
                </div>

            </div>
            
        </nav>
        </div>
    </div>
</div>



