{% extends "base.html" %}

{% load static %}
{% block title%}{% endblock %}

{% block container %}

    <div class="uk-card uk-child-width-1-2@s uk-margin-large" style="margin-left: 60px;margin-right: 60px;" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="{% static 'img/fotopromotora.jpg' %}" alt="" uk-cover>
            <canvas width="600" height="600"></canvas>
        </div>
        <div class="uk-padding-remove">
            <div class="uk-card-body uk-padding-remove">
                <div class="uk-div-promotora-head"> <b>PROBAQUERIZO</b> es una empresa del <i>Grupo Conbaquerizo</i> que ha desarrollado varios proyectos importantes en sus años de historia.</div>
                
                <hr class="uk-border-top-title">
                <p class="uk-description uk-padding-left">Se dedica al desarrollo de proyectos inmobiliarios, de viviendas, oficinas, centros comerciales, bodegajes, entre otros. <i><strong>Ofreciendo interesantes oportunidades de inversión</strong></i>.</p>
				<br>
				<p class="uk-description uk-padding-left"><strong>MISIÓN:</strong></p>
                <p class="uk-description uk-padding-left">Desarrollar proyectos confortables, orientados a la interacción con la naturaleza <i>(eco amigables)</i>, siempre buscando brindar mas beneficiosa los usuarios / clientes obteniendo un mejor costo para los Inversionistas. </p>
				<br>
				<p class="uk-description uk-padding-left"><strong>VISIÓN:</strong></p>
                <p class="uk-description uk-padding-left">Contribuir con proyectos que ayuden <i>al desarrollo que la comunidad</i> necesita en ámbitos de vivienda, comercio, negocios, entre otros.</p>
                <br>
                <p class="uk-description uk-padding-left"><strong>META:</strong></p>
                <p class="uk-description uk-padding-left">Crear <i>clientes satisfechos</i> desarrollando productos eficientes.</p>
            </div>
        </div>
    </div>

    
{% endblock %}


