{% load static %}

<div class="uk-section uk-section-small">
    <div class="uk-container uk-container-small uk-padding-remove">

		{% load staticfiles %}
		{% load widget_tweaks %}

		{% block extra_head_css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
		{% endblock %}
		{% block extra_head_scripts %}
		<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
		{% endblock %}

        <div class="uk-child-width-1-1@m uk-text-center" uk-grid>
            <div class="uk-padding-remove">
                <div class="uk-card "><h3 class="{% if is_cotiza_page %} uk-description-white-h  {% else %} uk-heading {% endif %}  uk-text-center">SOLICITE INFORMACIÓN</h3></div>
            </div>
            <div class="uk-padding-remove uk-margin-remove-top">
                <div class="uk-card "><hr class=" {% if is_cotiza_page %} uk-divider-small uk-divider-small-white {% else %} uk-divider-small {% endif %} "></div>
            </div>
            <div class="uk-padding-remove uk-margin-remove-top">
                <div class="uk-card "><p class=" {% if is_cotiza_page %} uk-description-white  {% else %} uk-description {% endif %}  uk-padding-left-desc uk-text-center">Por medio del siguiente formulario, escríbanos para solicitar información, recuerde completar todos los campos para un mejor servicios.</p></div>
            </div>
        </div>

        <br><br>

        <form {% if form_id %} id="{{form_id}}" {% endif%} {%if form_classes%} class="{{form_classes}}" {% endif %}  action="" method="POST" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %} {% if form_style %} style="{{ form_style }}" {% endif %} >
        	{% csrf_token %}
        	{{ form.media }}

            {% if form.errors %}
             <ul>
            {% for field in form.visible_fields %}
                {% if field.errors %}
                        <dl class="uk-description-list uk-text-danger">
                        {% for error in field.errors %}
                            <dd class="uk-text-small uk-text-danger">{{ error|escape }}</dd>
                        {% endfor %}
                        </dl>
                                
                {% endif %}                              
            {% endfor %}    
             </ul>                           
            {% endif%}
              

            <div class="uk-child-width-expand@s uk-text-center uk-margin-remove-left  {% if is_cotiza_page %} uk-form-cotiza   {% else %} uk-form-nocotiza  {% endif %}" uk-grid uk-height-match="target: > div > .uk-card">

                <div class="uk-padding-remove-left">
                    <div class="uk-card ">

                	{% for field in form.visible_fields %}
                        {% if field.name == "name" or field.name == "last_name" or field.name == "email" or field.name == "number" or field.name == "apartment" or field.name == "info_type"%}
                       
                            {% if not hide_labels and not field.label == "#hide#" %}
                            
                            {% endif%}
                            <div id="id-{{field.name}}-div" class="uk-form-controls">
                            {% if field.errors %}
                                {{field|add_class:"uk-form-danger"}}
                            </div>

                            {% else %}
                            	{% if is_cotiza_page %}
                                	{{ field|add_class:"uk-inputform-cotiza"}}
                                {% else %}
                                	{{ field|add_class:"uk-inputform-nocotiza"}}
                                {% endif %}
                            </div>
                            {% endif %}
                            {% if show_help_texts %}
                                {{ field.help_text }}
                            {% endif %}
                        
                        {%endif%}   
                    {% endfor %}
                    </div>
                </div>
            
                <div class="uk-padding-remove-left uk-margin-remove-top" >
                    <div class="uk-card ">

                        {% for field in form.visible_fields %}    
                        {% if field.name == "description" %}
                        
                            {% if not hide_labels and not field.label == "#hide#" %}
                               
                            {% endif%}
                            <div id="id-{{field.name}}-div" class="uk-form-controls">
                            {% if field.errors %}
                                <textarea name="description" rows="10" class="uk-input  uk-textarea {% if is_cotiza_page %} uk-inputform-txtcotiza  {% else %} uk-inputform-txtnocotiza {% endif %} uk-form-danger" placeholder="MENSAJE" required="" id="id_description" maxlength="30" cols="40" style="resize: none;margin-top: 0px;margin-bottom: 0px;height: 223px;max-height: 223px;"></textarea>
                            </div>
                            {% else %}
                                <textarea name="description" rows="10" class="uk-input  uk-textarea {% if is_cotiza_page %} uk-inputform-txtcotiza  {% else %} uk-inputform-txtnocotiza {% endif %}" placeholder="MENSAJE" required="" id="id_description" maxlength="30" cols="40" style="resize: none;margin-top: 0px;margin-bottom: 0px;height: 223px;max-height: 223px;"></textarea> 
                            </div>
                            {% endif %}
                            
                            {% if show_help_texts %}
                                {{ field.help_text }}
                            {% endif %}
                        
                        {%endif%}
                        {% endfor %}

                		{% if not noFormActions%}
                	        <div class="form-actions">
                	            <input id="id_1_{{ submit_value }}" class="uk-button   uk-width-1-1  {% if is_cotiza_page %} uk-inputform-btncotiza  {% else %} uk-inputform-btnnocotiza {% endif %} " type="submit" value="{{ submit_value }}" /> 
                	        </div>
                	    {% endif%}
                    </div>
                </div>
            
            </div>
        </form>
    </div>
</div>
