*{
	font-family: 'Raleway-Regular', sans-serif;
    font-size: 15px;
}

html, body { height:100%; margin:0;padding:0;} 

.ad_navicon_toggle{
	display: none;
}

.uk-nav-menu-right{display: none;}

.uk-nav-logo-right{display: none;}
.uk-nav-menu-right-social{display: block;}


/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1000px) {
.ad_navtext_toggle {display: none;}
.ad_navicon_toggle {display: block;}
.uk-nav-logo-center{display: none;}
.uk-nav-logo-right{display: block;}
.uk-nav-menu-banner{display: none;}
.uk-nav-menu-right{display: block;}
.uk-nav-menu-right-social{display: none;}
.uk-nav-menu-right-options{display: block;}
}


.uk-square-background-logo-mmg{
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    display: block;
    max-height: 55%;
    width: auto;
    max-width: none;
}

.uk-square-background-logo-pro{
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    display: block;
    max-height: 65%;
    width: auto;
    max-width: none;
}

/**************************************************************************/
/**************************************************************************/
/*                             UK CLASS                                   */
/**************************************************************************/
/**************************************************************************/
p,
b,
span,
.uk-list > li,

.uk-list-bullet > li{
    font-size:15px;
    color: #fff
}

.uk-navbar-container,
.uk-navbar-container:not(.uk-navbar-transparent){
    background: #13274b;
}

.uk-navbar-nav>li>a{
    text-transform: none;
    font-size: 0.976rem;
    color: #fff;
}

.uk-navbar-nav>li.uk-active>a {
    color: RGB(0, 6, 104);
}

.uk-icon-button {
    color: #13274b;
}

.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: 26px;
    color: #13274b;
    font-weight: bold;
}

.uk-description{	
	font-family: 'Raleway-Regular', sans-serif;
    font-size: 15px;
    color: #132341;
    margin: 0;
}

.uk-padding-left-desc {padding-left: 40px;}

.uk-description-white{    
    font-family: 'Raleway-Regular', sans-serif;
    font-size: 15px;
    color: white;
    margin: 0;
}

.uk-description-white-h{color: white;}


.uk-divider-small::after {
    border-top: 2px solid #4B7A9D;
}

.uk-divider-small-white::after {
    border-top: 2px solid white;
}


.uk-border-bottom-description{
	border-top: 2px solid #BDBDBD;
	margin:0;
}

.uk-border-top-title{
  border-top: 3px solid #476C7B;
}

.map-responsive{
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

.map-responsive iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}


@media (min-width: 1200px){
	.uk-padding-large {
	    padding: 70px 60px;
	}
	.uk-padding-left {
	    padding-left: 40px;
	}
}

.uk-dotnav>.uk-active>* {
    background-color: #dee1e5;
    border-color: #dee1e5;
}

.uk-dotnav>*>* {
    background-color: #848484;
    border-color: transparent;
}



.uk-form-nocotiza{
    margin-left: 0px;
    border-top: 2px solid #13274b;
    border-right: 2px solid #13274b;
    border-left: 2px solid #13274b;
}

.uk-inputform-nocotiza, .uk-inputform-cotiza, .uk-inputform-btnnocotiza{
     height: 45px !important;
}

.uk-inputform-btnnocotiza {  
    background-color: #7CA1B0;
    color: #13274b;
    border-top: 2px solid #13274b;
    border-bottom: 2px solid #13274b;
    height: 47px !important;
}
.uk-inputform-btnnocotiza:hover {  
    background-color: #476C7B;
    color: white;
}


select.uk-inputform-nocotiza:invalid { color: #13274b; }

input.uk-inputform-nocotiza, select.uk-inputform-nocotiza{
    color: #13274b;
    background: #D8D8D8;
    border-bottom: 2px solid #13274b;
    border-right: 2px solid #13274b;
}

textarea.uk-inputform-txtnocotiza{
    color: #13274b;
    background: #D8D8D8;
}

input.uk-inputform-nocotiza::-webkit-input-placeholder { /* Chrome */
  color: #13274b;
  transition: opacity 250ms ease-in-out;
}
input.uk-inputform-nocotiza:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
input.uk-inputform-nocotiza:-ms-input-placeholder { /* IE 10+ */
  color: #13274b;
  transition: opacity 250ms ease-in-out;
}
input.uk-inputform-nocotiza:focus:-ms-input-placeholder {
  opacity: 0.5;
}
input.uk-inputform-nocotiza::-moz-placeholder { /* Firefox 19+ */
  color: #13274b;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
input.uk-inputform-nocotiza:focus::-moz-placeholder {
  opacity: 0.5;
}
input.uk-inputform-nocotiza:-moz-placeholder { /* Firefox 4 - 18 */
  color: #13274b;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
input.uk-inputform-nocotiza:focus:-moz-placeholder {
  opacity: 0.5;
}




textarea.uk-inputform-txtnocotiza::-webkit-input-placeholder { /* Chrome */
  color: #13274b;
  transition: opacity 250ms ease-in-out;
}
textarea.uk-inputform-txtnocotiza:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
textarea.uk-inputform-txtnocotiza:-ms-input-placeholder { /* IE 10+ */
  color: #13274b;
  transition: opacity 250ms ease-in-out;
}
textarea.uk-inputform-txtnocotiza:focus:-ms-input-placeholder {
  opacity: 0.5;
}
textarea.uk-inputform-txtnocotiza::-moz-placeholder { /* Firefox 19+ */
  color: #13274b;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
textarea.uk-inputform-txtnocotiza:focus::-moz-placeholder {
  opacity: 0.5;
}
textarea.uk-inputform-txtnocotiza:-moz-placeholder { /* Firefox 4 - 18 */
  color: #13274b;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
textarea.uk-inputform-txtnocotiza:focus:-moz-placeholder {
  opacity: 0.5;
}



.uk-form-cotiza{
    margin-left: 0px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

.uk-inputform-nocotiza, .uk-inputform-cotiza{
     height: 45px !important;
}

.uk-inputform-btncotiza {  
    background-color: rgb(162,176,182,.7);;
    color: white;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    height: 47px !important;
}
.uk-inputform-btncotiza:hover {  
    background-color: #A2B0B6;
    color: white;
}


select.uk-inputform-cotiza:invalid { color: white; }

input.uk-inputform-cotiza, select.uk-inputform-cotiza{
    color: white;
    background: rgba(255,255,255,.1);
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

textarea.uk-inputform-txtcotiza{
    color: white;
    background: rgba(255,255,255,.1);
}

input.uk-inputform-cotiza::-webkit-input-placeholder { /* Chrome */
  color: white;
  transition: opacity 250ms ease-in-out;
}
input.uk-inputform-cotiza:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
input.uk-inputform-cotiza:-ms-input-placeholder { /* IE 10+ */
  color: white;
  transition: opacity 250ms ease-in-out;
}
input.uk-inputform-cotiza:focus:-ms-input-placeholder {
  opacity: 0.5;
}
input.uk-inputform-cotiza::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
input.uk-inputform-cotiza:focus::-moz-placeholder {
  opacity: 0.5;
}
input.uk-inputform-cotiza:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
input.uk-inputform-cotiza:focus:-moz-placeholder {
  opacity: 0.5;
}




textarea.uk-inputform-txtcotiza::-webkit-input-placeholder { /* Chrome */
  color: white;
  transition: opacity 250ms ease-in-out;
}
textarea.uk-inputform-txtcotiza:focus::-webkit-input-placeholder {
  opacity: 0.5;
}
textarea.uk-inputform-txtcotiza:-ms-input-placeholder { /* IE 10+ */
  color: white;
  transition: opacity 250ms ease-in-out;
}
textarea.uk-inputform-txtcotiza:focus:-ms-input-placeholder {
  opacity: 0.5;
}
textarea.uk-inputform-txtcotiza::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
textarea.uk-inputform-txtcotiza:focus::-moz-placeholder {
  opacity: 0.5;
}
textarea.uk-inputform-txtcotiza:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}
textarea.uk-inputform-txtcotiza:focus:-moz-placeholder {
  opacity: 0.5;
}


.uk-div-promotora-head, .uk-div-promotora-head > b{
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 24px;
  color: #13274b;
}

.uk-div-promotora-head > i{
  font-weight: bold;
  font-size: 24px;
}

.uk-div-constructora-head, .uk-div-constructora-head > b{
  font-family: 'Raleway-Bold', sans-serif;
  font-size: 24px;
  color: #13274b;
}

.uk-div-constructora-head > i{
  font-size: 24px;
}